# JAVA_HOME=/usr/lib/jvm/java-8-openjdk-amd64
# PATH_add /usr/lib/jvm/java-8-openjdk-amd64/bin
JAVA_HOME=/usr/lib/jvm/java-11-openjdk-amd64
PATH_add /usr/lib/jvm/java-11-openjdk-amd64/bin
PATH_add ~/apps/gradle-8.2.1/bin/
